<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="godshi.edu.cn.micropayment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <uses-feature android:name="android.hardware.nfc" android:required="true"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.user.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".activity.payment.IndexActivity"
            android:label="@string/title_activity_index" />
        <activity
            android:name=".activity.payment.NFCPayActivity"
            android:label="@string/title_activity_nfcpay" />
        <activity
            android:name=".activity.payment.GoodListActivity"
            android:label="@string/title_activity_good_list" />
        <activity
            android:name=".activity.payment.CardManagementActivity"
            android:label="@string/title_activity_card_management" />
        <activity
            android:name=".activity.user.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".activity.user.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd" />
        <activity
            android:name=".activity.payment.AddCardActivity"
            android:label="@string/title_activity_add_card" />
        <activity
            android:name=".activity.payment.RemoveCardActivity"
            android:label="@string/title_activity_remove_card" />
        <activity
            android:name=".activity.payment.ConfirmPayActivity"
            android:label="@string/title_activity_confirm_pay" />
        <activity
            android:name=".activity.payment.OrderActivity"
            android:label="@string/title_activity_order" />
        <activity
            android:name=".activity.payment.AKSHomeActivity"
            android:label="@string/title_activity_akshome" />
    </application>

</manifest>